<nav class="navbar primary">
    <!-- <a class="colors" routerLink=""> Sistema </a>
    <a class="colors" routerLink="/cadastro"> Cadastro </a>
    <a class="colors" routerLink="/lista">Lista </a> -->

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a class="colors " routerLink="">Sistema</a></li>
        <li role="presentation"><a class="colors " routerLink="/cadastro">Cadastro</a></li>
        <li role="presentation"><a class="colors " routerLink="/lista">Lista</a></li>
    </ul>

</nav>
